<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. all rights reserved.
    </span>
</footer>
