<section class="postShorten-group main-content-wrap">
  <% if (is_home()) { %>
    <div class="tweets-container">
      <div class='slider single-item' id="tweets">
        <div class="loader">Loading...</div>
      </div>
    </div>

  <% } %>
</section>
