div.superquote {
    margin-bottom: 30px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    color: $font-color-base;
    text-rendering: optimizelegibility;
    letter-spacing: -0.3px;
    font-family:    map-get($font-families, 'post-content');
    font-size: 90%;
    line-height: 1.8em;
    color:          map-get($colors, base);
    font-weight:    400;
    overflow:       hidden;
    @include prefix('hypens', 'auto', 'webkit' 'moz');

    /* img { */
    /*     display:   block; */
    /*     width:     auto; */
    /*     max-width: 100%; */
    /* } */
}

div.superquote blockquote {
    max-width: 500px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-style: normal !important;
}

div.superquote blockquote p.superquote-pull-right {
    float: right !important;
    font-size: 85%;
    color: #818181;
    padding-right: 5%;
}
