.slick-slide {
    text-align: center;
    background: white;
}

.tweets-container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #ffffff;
    text-rendering: optimizelegibility;
    letter-spacing: -0.3px;
    font-family:    map-get($font-families, 'post-content');
    color:          map-get($colors, base);
    font-weight:    400;
    overflow:       hidden;
    @include prefix('hypens', 'auto', 'webkit' 'moz');

    /* img { */
    /*     display:   block; */
    /*     width:     auto; */
    /*     max-width: 100%; */
    /* } */

}

#tweets p {
    margin: 0 auto;
    font-size: 90%;
    line-height: 1.8em;
    /* font-weight: 600; */
}
#tweets small {
    color: #818181;
    font-size: 85%;
}

.tweets-container .tweet-item {
    display: none;
}

.tweets-container .tweet-item:first-child {
    display: block;
}

.tweets-container.slick-initialized .tweet-item {
    display: block;
}
